h1, h2, h3, h4, h5, h6 {
  color: #3E409E;
}

h2.site-title {
  margin-bottom: 2rem;
}

p a {
  color: #3E409E;
}

p a:hover {
  color: #3E409E;
  text-decoration: underline;
}

.contain-to-grid, .top-bar {
  background: #A5E26D;
  margin-bottom: 1em;
}

.contain-to-grid.sticky {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.top-bar.expanded .title-area {
    background: #A5E26D;
}

body {
  padding-top: 4.8125rem;
}

.top-bar {
  background: #A5E26D;
  height: 3.8125rem;
  line-height: 3.8125rem;
  padding-top: 0.5rem;
  margin-bottom: 1em;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: #A5E26D
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: #A5E26D
}

.top-bar .name h1 {
  font-size: 2.0625rem;
}

.top-bar .name h1 a {
  padding: 0 1rem;
}

.top-bar-section ul li > a {
  font-size: 1.1rem;
}

.meetup, .dojo-info, .general-info {
  padding: 12px 16px 1px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.meetup {
  background: #F1F1FD;
}

.meetup-outer:nth-of-type(3n) .meetup {
  background: #F7E8CE;
}

.meetup-outer:nth-of-type(3n+1) .meetup {
  background: #F1F1Fd;
}

.meetup-outer:nth-of-type(3n+2) .meetup {
  background: #E2F7CE;
}

.dojo-info {
  background: #F7E8CE;
}

.general-info {
  background: #E2F7CE;
}


@media only screen and (min-width: 58.75em) {
  .top-bar-section li.active:not(.has-form) a:not(.button) {
    background: #3E409E;
    color: #FFFFFF;
    line-height: 2.8125rem;
    padding: 0 0.9375rem;
    border-radius: 3px;
  }

  .top-bar-section ul li {
    border-radius: 5px;
  }

  .top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background: #6062B1;
    background: #343688;
  }

  .contain-to-grid .top-bar {
    margin-bottom: 1em;
    
  }

  .contain-to-grid.sticky {
    height: 3.8125rem;
  }
}

@media only screen and (min-width: 40.0625em) {
  .container {
    padding: 0 1rem;
  }  
}
