cov-core==1.15.0
coverage==6.2
Django==5.2
django-debug-toolbar
django-environ==0.3.0
psycopg2-binary==2.9.4
py==1.5.4
pytest==4.6.11
pytest-cov==5.0.0
pytest-django==2.8.0
selenium==2.46.0
sqlparse==0.3.1
Unipath==1.1
