{% extends 'site_base.html' %}

{% block title%}Home{% endblock %}


{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <h2 class="site-title">The Central Ohio Python User's Group</h2>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <div class="general-info">
        {{ general_info }}
      </div>
      <div class="dojo-info">
        {{ dojo_info }}
      </div>  
    </div>
    <div class="medium-6 columns">
      {% for meetup in latest_meetups %}
        {% include 'partials/_meetup.html' %}
      {% endfor %}  
    </div>
    
  </div>
{% endblock %}
