{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COhPy | {% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>
  </head>
  <body>

    <div class="contain-to-grid sticky">
      <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">COhPy</a></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li {% block past_meetups_active %}{% endblock %}><a href="/meetups">Past Meetups</a></li>
            <li><a href="http://www.pyohio.org/">PyOhio</a></li>
            <li><a href="https://mail.python.org/pipermail/centraloh/">Mailing List Archives</a></li>
            <li {% block resources_active %}{% endblock %}><a href="/">Resources</a></li>
            <li><a href="/admin">Login</a></li>
          </ul>
        </section>
      </nav>
    </div>
    
    {% block content %}
    {% endblock %}
    
    
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>