{% extends 'site_base.html' %}

{% block title%}Past Meetups{% endblock %}

{% block past_meetups_active %}class="active"{% endblock %}

{% block content %}
  <div class="row">
    <div class="medium-12 columns">
      <h3 class="site-title">The Central Ohio Python User's Group: Past Meetups</h3>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns meetup-left">
      {% for meetup in meetups %}
        {% if forloop.counter0|divisibleby:"2" %}
          {% include 'partials/_meetup.html' %}
        {% endif %}
      {% endfor %} 
    </div>
    <div class="small-6 columns meetup-right">
      {% for meetup in meetups %}
        {% if not forloop.counter0|divisibleby:"2" %}  
          {% include 'partials/_meetup.html'%}
        {% endif %}    
      {% endfor %}
    </div>
    <div class="medium-6 columns meetup-mobile">
      {% for meetup in meetups %}        
        {% include 'partials/_meetup.html' %}
      {% endfor %} 
    </div>
  </div>
{% endblock %}